body{
    margin:0;
    background:#0f172a;
    color:white;
    font-family:Arial;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
    padding:20px;
}

h1{
    text-align:center;
}

.search-box{
    display:flex;
    justify-content:center;
    gap:10px;
    margin-bottom:20px;
}

input{
    padding:12px;
    width:250px;
    border:none;
    border-radius:8px;
}

button{
    padding:12px 20px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    background:#22c55e;
    color:white;
    font-weight:bold;
}

.stock-card{
    background:#1e293b;
    padding:20px;
    border-radius:12px;
    margin-bottom:20px;
}

.chart-container{
    background:#1e293b;
    padding:20px;
    border-radius:12px;
}